<!doctype html>
<html>
<head>
<title>{{ title }} - LocalWeb</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/w3-theme-teal.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">  
<script src="/static/js/w3.js"></script>
</head>
<body>
<div class="w3-container w3-pale-blue">
<h1 class="w3-center">{{ header }}</h1>
<hr>
<div>
    LocalWeb:
    <a href="/">Home</a>
    <a href="/login">Login</a>
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<hr>
{% endwith %}
{% block content %}
{% endblock %}
</div>
</body>
</html> 
